<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img
      src="../../../../assets/img/pokedex.png"
      alt="pokedex"
      width="40"
      height="40"
    />
    <a class="navbar-brand">Pokedex</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">Pokemones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new">Agregar Pokemon</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-warning" (click)="logOut()">
          Salir
        </button>
      </form>
    </div>
  </div>
</nav>
