<div class="container" *ngIf="spiner">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!spiner">
  <mat-card class="card mt-5">
    <mat-card-header>
      <img mat-card-avatar class="header-image" [src]="pokemon.image" />
      <mat-card-title>{{ pokemon.name }}</mat-card-title>
      <mat-card-subtitle>Idº {{ pokemon.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-chip-list class="mt-2">
      <mat-chip color="primary">Type: {{ pokemon.type }}</mat-chip>
      <mat-chip class="amg" color="secundary" (click)="img = !img"
        >Toca aqui para ver: {{ img ? "gif" : "img" }}</mat-chip
      >
    </mat-chip-list>

    <img mat-card-image *ngIf="img" [src]="pokemon.image" alt="pokemon" />
    <img
      mat-card-image
      *ngIf="!img"
      src="https://projectpokemon.org/images/normal-sprite/{{
        pokemon.name
      }}.gif"
      alt="pokemon"
    />

    <mat-card-content>
      <h3 class="abilities">ABILITIES</h3>
      <mat-chip-list>
        <div *ngFor="let item of pokemon.abilities">
          <button
            color="primary"
            (click)="description(item.ability, item.ability.name)"
            type="button"
            class="btn btn-primary btn-sm buton"
          >
            {{ item.ability.name }}
          </button>
        </div>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
