.card {
  width: 350px;
  margin: 20px auto;
  margin-top: 20px;
  background-color: #bd3736;
}

.header-image {
  background-size: cover;
  margin-left: 11px;
}

.mat-card-header {
  background-color: #fcfcfc;
  padding-top: 10px;
  border-radius: 10px;
}

.mat-card-title {
  text-transform: uppercase;
  color: black;
}

.mat-card-subtitle {
  color: black;
}
.buton {
  border-radius: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.amg {
  margin-top: -33px !important;
  margin-left: 151px !important;
}
.abilities {
  text-align: center;
  background-color: rgb(133, 183, 228);
  border-radius: 30px;
}
